{% extends 'wrapper/base.html' %}
{% load static %}
{% block content %}
    {% include 'etc/sidebar.html' %}
    <!-- right content -->
    <div id="content">
                {% include 'etc/topbar.html' %}

        <!-- dashboard inner -->
        <div class="midde_cont">
            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <h2>{{ project.name }}: Tasks</h2>
                            Memberships ({{ project.memberships.count }}):
                            {% for membership in project.memberships.all %}
                               {{ membership.username }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row column1">
                    <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                            <div class="full graph_head">
                                <div class="heading1 margin_0">
                                    <h2>Tasks <small>({{ tasks.count }})</small></h2>
                                </div>
                            </div>
                            <div class="full price_table padding_infor_info">
                                <div class="row">
                                  <div class="fw_icon">
                                      <a href="{% url 'new_task' slug=project.slug %}"><i class="fa fa-plus"></i>
                                      New task
                                      </a>
                                   </div>
                                    <div class="col-lg-12">
                                        <div class="table-responsive-sm">
                                            <table class="table table-striped tasks">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th style="width: 2%">No</th>
                                                    <th style="width: 30%">Task Name</th>
                                                    <th>Members</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for task in tasks %}
                                                    <tr>
                                                        <td>{{ forloop.revcounter }}</td>
                                                        <td>
                                                            <a href="{{ task.get_task_url }}">{{ task.name }}</a>
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <img width="40"
                                                                         src="{% static 'images/layout_img/msg2.png' %}"
                                                                         class="rounded-circle" alt="#">
                                                                </li>
                                                                <li>
                                                                    <img width="40"
                                                                         src="{% static 'images/layout_img/msg3.png' %}"
                                                                         class="rounded-circle" alt="#">
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <button type="button"
                                                                    class="btn btn-success btn-xs">{{ task.status }}
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>
<!-- end row -->
</div>
<!-- footer -->
    <div class="container-fluid">
        <div class="row">
            <div class="footer">
                <p>Copyright © 2 018 Designed by html.design. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- end dashboard inner -->
</div>
    </div>
{% endblock content %}